<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Foundation.Sc.EmailValidatedRule" description="Email Validated Rule items">
          <targetDataStore physicalRootPath="$(SourceFolderEmailValidatedRule)\src\Foundation\EmailValidatedRule\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate>
            <include name="Rule.Element" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/XConnect - Contact Personal Details Conditions/Where Contact Email Address Is Verified">
            </include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>